* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  outline: 1px dashed pink;
}

root {
  --color-primary-nutmeg: hsl(14, 45%, 36%);
  --color-primary-dark-raspberry: hsl(332, 51%, 32%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-rose-white: hsl(330, 100%, 98%);
  --color-neutral-eggshell: hsl(30, 54%, 90%);
  --color-neutral-light-grey: hsl(30, 18%, 87%);
  --color-neutral-wenge-brown: hsl(30, 10%, 34%);
  --color-neutral-dark-charcoal: hsl(24, 5%, 18%);
}

body {
  background-color: rgb(243, 229, 216);
}

main.card {
  max-width: 736px;
  margin: 0 auto;
  padding: 4rem;

  border: none;
  border-radius: 2.4rem;
  background-color: hsl(0, 0%, 100%);

  font-family: 'Outfit', sans-serif;

  img {
    max-width: 656px;
  }

  div.content {
    width: 100%;
    margin-top: 4rem;

    h1,
    h2 {
      font-family: 'Young Serif', serif;
    }

    h2,
    h3 {
      color: hsl(332, 51%, 32%);
    }

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2.8rem;
    }

    h3 {
      font-size: 2rem;
    }

    p,
    li,
    strong {
      font-size: 1.6rem;
      color: hsl(30, 10%, 34%);
    }

    p {
      line-height: 1.5;
    }

    li {
      margin: 1rem 2rem;
      /* color: hsl(332, 51%, 32%); */
    }

    li::marker {
      color: hsl(332, 51%, 32%);
    }

    /* ol {
      list-style-type: decimal;
      color: hsl(332, 51%, 32%);
    } */

    ol {
      list-style: none;
      counter-reset: li;

      li::before {
        content: counter(li);
        color: red;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }

      li {
        counter-increment: li;
      }
    }

    .intro {
      margin-top: 2rem;
    }

    .prep-time {
      margin-top: 2rem;
    }

    .ingredients {
      margin-top: 2rem;
    }

    .instructions {
      margin-top: 2rem;
    }

    .nutrition {
      margin-top: 2rem;
    }
  }
}

footer.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
